@charset "ISO-8859-1";
/* * {
	margin: 0;
	padding: 0;
} */
body {
	background: orange;
}
li {
	border: 1px solid red;
}
li:hover {
	border: 1px solid blue;
}
#especial {
	background: rgba(100,100,0, .2);
	color: red;
}
#especial:hover {
	background: rgba(100,100,0, .2);
	color: yellow;
	font-size: 50px;
}
.destacar {
	text-decoration: line-through;
}
p::first-line {
	color: aqua;
	border-color: fuchsia;
}